# TestReport

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**appUploadId** | **String** |  | 
**date** | **String** |  | 
**testType** | **String** |  | 
**platform** | **String** |  | 
**stats** | [**TestReportStats**](TestReportStats.md) |  | 
**id** | **String** |  | 
**schemaVersion** | **Double** |  | 
**revision** | **Double** |  | 
**features** | [TestReportFeatures] |  | 
**finishedDeviceSnapshots** | **[String]** |  | 
**deviceLogs** | [TestReportDeviceLogs] |  | 
**dateFinished** | **String** |  | 
**errorMessage** | **String** |  | [optional] 
**snapshotFatalErrors** | [TestReportSnapshotFatalErrors] |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


